<h1>Your Tasks</h1>
<ul>
  <% @tasks.each do |task|  %>
    <li>
      <p>Task: <%= task[:task]%> </p>
      <p> Description: <%= task[:description] %> </p>
      <p>Must be done by: <%= task[:completiondate] %> </p>
    </li>
  <% end %>
</ul>
