<h1> Here is info about this task</h1>

<% if @task.nil? %>
  <h1> 404 Not found</h1>
<% else %>


    <h2>  <%= @task.name %> </h2>

  <h3>Description: <%= @task.description%></h3>
  <p> Complete by <%= @task.completiondate %></p>
  <%= link_to "Delete #{@task.name}", destroy_task_path(@task.id), method: :delete, data: {confirm: 'Are you sure?'} %>
<% end %>
