<h2 class = "showheader"> Here is info about this task:</h2>

<% if @task.nil? %>
  <h1> 404 Not found</h1>
<% else %>


    <h3 class = "task_name">  <%= @task.name %> </h3>

  <h4>Description: <%= @task.description%></h4>

  <%= link_to "Delete #{@task.name} |", destroy_task_path(@task.id),class: "link_to", method: :delete, data: {confirm: 'Are you sure?'} %>
  <%= link_to "Edit #{@task.name}", edit_task_path(@task.id),class: "link_to" %>
<% end %>
